body {
    background-color: #f8f9fa;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#notes-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
