atomic-agents
bert-score
chromadb
crewai
crewai_tools
datasets
docling
easyocr
Flask==3.0.0
google-genai
instructor
ipywidgets
langchain
langchain-chroma
langchain-google-genai
langchain_openai
langchain-text-splitters
openai
pillow
pypdf
pymongo
python-dotenv==1.0.0
pytest
pytest-asyncio
pytest-mock
pyyaml
rouge_score
scikit-learn
streamlit
torch
tqdm
transformers
voyageai
