crewai
crewai_tools
docling
easyocr
faiss-cpu
google-generativeai==0.4.0
langchain
langchain-google-genai
langchain_openai
langchain-text-splitters
pillow
pypdf
pymongo
python-dotenv==1.0.0
scikit-learn
streamlit
torch
transformers
voyageai
chromadb
langchain-chroma
Flask==3.0.0
