crewai
crewai_tools
docling
easyocr
faiss-cpu
google-generativeai
langchain
langchain-google-genai
langchain_openai
langchain-text-splitters
pillow
pypdf
pymongo
python-dotenv
scikit-learn
streamlit
torch
transformers
voyageai
chromadb
langchain-chroma